/* body{
    background-image: url(./hospital\ bg.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center center;
}
*{margin: 0;
 padding: 0;
} */
/* .background{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)),url(./hospital\ bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} */
.navbar{
    background-color: cornflowerblue;
    height: 60px;
    border-bottom-color: aliceblue;

  }
  .navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
  .navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: red
}

/* home */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}


.carousel-item{
 height:32rem;
 background: #777;
 position: relative;
}
/* .inputdesign{
    width: auto;
    background-color:rgb(63, 128, 143)
    
    

} */
.bgform{
 background-image: url(../images/hospitalbg.jpg);

}

.formhead{
    color:cornflowerblue;
    text-align: center;
    size:0vmax;
    font-style: normal;
    display: inline; 
   
}
.logo{
    display: inline-flex;
    max-width: 100%;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 40.25rem;
    max-width: 10%;
    height: 5px;
}
.inputdesign{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 80px 300px;
    font-size: 17px;
    padding: 8px;
    background-color: cornflowerblue;
   
}

.ishu{
    align-items:center;
    
}

#submitbtn{
     align-items: center;
     margin-left: 40%;
}
#check{
    align-items: center;
    margin-left: 45%;
    margin-top: 60px;
    size: 0 80px ;

}
.age{
    background-color:rgb(185, 183, 183)

}



/* about us */

.about{
    max-width: 300px;
    max-height: 500px;
    align-items: right;
}
.bgf{
    background-image: url(../images/bgform.jfif);
    width:200px;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.split{
    width:50%;
    
}
.right{
    right: 0;
}
.left{
    left: 0;
}



@import url('../images/DALL_E_2022-11-26_18.24.13_-_Huamn_saved_from_heart_stroke-removebg-preview.png');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color:rgb(121, 182, 210);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:black;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}

.content-section .social{
	text-align: center;
}

}


.footer .credit{
    text-align: center;
    margin-bottom: 0px;
    padding:2rem 1rem;
    margin-top: 500px;
    font-size: 1rem;
    font-weight:normal;
    color:rgb(6, 6, 6);
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span{
    color:var(--black
    );
  }


