<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heart Stroke Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <!-- <div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
   -->
  <!-- <div>
      <h1>About Us 
      </h1>
    </div>
    <div>   
       <div class="card text-white bg-dark mb-3 "  style="max-width: 100rem;">
    
        <div class="card-body">
        <h5 class="card-title">Aim</h5>
        <p class="card-text col-md-8" >As heart diseases and strokes are increasing rapidly across the world and causing deaths,
          it
          becomes necessary to develop an efficient system that would predict the heart stroke effectively before hand
          so
          that immediate medical attention can be given.</p>
         </div>
         <div align="right" class=""><img src="./images/DALL·E 2022-11-26 18.24.13 - Huamn saved from heart stroke.png"
          alt="" class="about"></div> -->
  <!-- </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    -->
  <!-- <div class="card text-white bg-dark mb-3" style="max-width: 50rem;">

      <div class="card-body">
        <h5 class="card-title">Mission</h5>
        <p class="card-text">Our Mission is </p>
      </div> -->
  <!-- </div>
 </div>
  </div>
  </div> -->

  <!DOCTYPE html>
  <html>

  <head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Our Mission</h3>
            <p>As heart diseases and strokes are increasing rapidly across the world and causing deaths,
              it becomes necessary to develop an efficient system that would predict the heart stroke effectively before
              hand
              so that immediate medical attention can be given.</p>
            <h3>Our Aim</h3>
            <p>To save life of people by predicting possiblity of heart stroke using various parameters thus a
              person can take have precatiouns.Machine Learning can play an essential role in predicting presence/absence
              of Heart Stroke. Such information, if predicted well in advance, can provide important insights to doctors who can then adapt their diagnosis and treatment per patient basis
            </p>

          </div>
       
        </div>
        <div class="image-section">
          <img src="../static/images/DALL_E_2022-11-26_18.24.13_-_Huamn_saved_from_heart_stroke-removebg-preview.png">
        </div>
      </div>
      <section class="footer">
      <h5 class="credit"> <strong> Developed by</strong><span> Yash malode |</span> <span>Ananthkrishnan Nair |</span><span>Ishan Wagh |</span> <span>Akash Singh</span></h5>
      
    </section>
  </body>

  </html>






</body>