<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Our Mission</h3>
            <p>As heart diseases and strokes are increasing rapidly across the world and causing deaths,
              it becomes necessary to develop an efficient system that would predict the heart stroke effectively before
              hand
              so that immediate medical attention can be given.</p>
            <h3>Our Aim</h3>
            <p>To save life of people by predicting possiblity of heart stroke using various parameters thus a
              person can take have precatiouns.Machine Learning can play an essential role in predicting presence/absence
              of Heart Stroke. Such information, if predicted well in advance, can provide important insights to doctors who can then adapt their diagnosis and treatment per patient basis
            </p>

          </div>
       
        </div>
        <div class="image-section">
          <img src="../static/images/DALL_E_2022-11-26_18.24.13_-_Huamn_saved_from_heart_stroke-removebg-preview.png">
        </div>
      </div>
      <section class="footer">
      <h5 class="credit"> <strong> Developed by</strong><span> Yash malode |</span> <span>Ananthkrishnan Nair |</span><span>Ishan Wagh |</span> <span>Akash Singh</span></h5>
      
    </section>
  </body>

  </html>






</body>